<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <title>{{title}}</title>
   <style>
    * { font-family: 'Lato', Helvetica, sans-serif !important; }
    p { font-size: 16px !important; }
   </style>
</head>

<body style="margin:0; border-radius:10px; background-color: #fef5ff; padding: 24px; font-family: Lato, 'Helvetica Neue', Arial, 'sans-serif';">

   <div style="max-width: 600px; width: 600px; margin: 0 auto; border-radius:10px; background-color: #ffffff; box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);">
      {{> header}}
      <div style="padding: 24px;">
         <h3>Hello {{name}},</h3>
         <p>Verify you email address. Below is your <b>One time password:</b></p>
         <div style="display: flex; justify-content: center; margin: 32px 0; width: 100%;">
            <span style="
         display: inline-block;
         background: #e8fdf6;
         color: #221a3c;
         font-size: 2rem;
         font-weight: bold;
         padding: 24px 48px;
         border-radius: 16px;
         letter-spacing: 8px;
         box-shadow: 0 2px 12px #c6c2ca;
         text-align: center;
         margin: 0 auto;
         ">{{otp}}</span>
         </div>
         <p>This Code is Valid for 10 minutes and should not be shared with anyone.</p>
         <p>If you didn't request this one time password, you can safely ignore this email.</p>
      </div>
      {{> footer}}
   </div>
</body>

</html>