<table width="100%" cellpadding="0" cellspacing="0" style="background-color: #e8fdf6; border-radius: 10px 10px 0 0; box-sizing: border-box; font-family: Lato, Helvetica, sans-serif; padding: 24px;">
  <tr>
    <td align="left" valign="middle">
      <img src="https://yourdomain.com/legacis-logo-black.png" width="221" height="74" alt="Legacis Logo" style="display: block;">
    </td>
    <td align="right" valign="middle">
      <h2 style="color: #333333; font-size: 24px; font-weight:600; margin: 0;">
        Legacis Capital
      </h2>
    </td>
  </tr>
</table>